body{
  margin: 0;
  padding:0;

}

  
html{
  /* font-family: sans-, 'Times New Roman', Times, serif; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul {
  margin: 0;          /* removing default margin */
  padding: 0;         /* removing default width  */
}

ul li {
  list-style: none;   /* removing bullets */
  height: 8vh;    /* viewport height */
  weight: 100vw;      /* viewport width */
  font-size: 2rem;
}

#orange,#white,#green {
  height: 100%;
}

#orange{
  background-color: #e67e22f5;
  position: fixed;
  height: 10vh;
  width: 100vw;
}

/* 
@media only screen and (min-width: 768px) {
 
  
} */

#white{
  display: flex;            /* flex box */
  justify-content: center;
  font-size: 50px ;
  color: black;
  font-family: 'Sedgwick Ave Display', cursive;
  /* align-items: center; */
}

#green{
  background-color:green;
}



#white{
  height: 100vh;
}


.main{
  min-height: 90vh;
}
